@import "./components/about-section.css";
@import "./components/buttons.css";
@import "./components/container.css";
@import "./components/footer.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/product-section.css";
@import "./components/reset.css";
@import "./components/utilities.css";
@import "./components/responsive.css";
@import "./components/values-section.css";
@import "./components/variables.css";

@import "./pages/a-propos.css";
@import "./pages/article.css";
@import "./pages/blog.css";
@import "./pages/contact.css";
@import "./pages/mentions-legales.css";
